<ng-container *ngIf="product.length !=0">
  <div class="container">
    <h5 class="card-title">My Wishlist</h5>
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Product Name</th>
              <th>Product image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of product;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td> <img style="width: 120px" src="assets/{{item.imageURL}}" alt=""> </td>
              <td style="width: 25%;">{{ item.description }}</td>
              <td style="width: 12%;">{{item.price }}</td>
              <td style="width: 12%;">{{item.total}}</td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
              <tr>
                <td colspan="4"></td>
                <td><button (click)="emptyWishlist()" class="btn btn-danger">Empty Wishlist</button></td>
                <td><button routerLink="/home" class="btn btn-primary">Add more items</button></td>
                <td><button class="btn btn-success">Check Out</button></td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="product.length ==0">
  <div class="container">
    <div class="card">
      <h4 class="card-title">My Wishlist</h4>
    </div>
    <div class="centre">
      <img src="assets\wishlistempty.jpg" alt="">
      <h3>Your Wishlist is empty !</h3>
      <h5>Add items now to your wishlist and save for later purchases</h5>
      <button routerLink="/home" class="btn btn-primary">Add Items Now</button>
    </div>
  </div>
</ng-container>
